/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-width: 696px;
  color: var(--themes-main-color, #000);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.16667;
  margin: 0px auto;
  background: repeating-linear-gradient(
      to right,
      var(--bg-gradient) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-gradient) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--bg-gradient-start) 0%,
      var(--bg-gradient-end) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight);
}

.header {
  position: relative;
  padding-top: 102px;
  padding-bottom: 104px;
}

.dialog-floppy {
  inline-size: 341px;
  padding-bottom: 30px;
  border: 2px solid var(--themes-main-color, #000);
  background: var(--background-color, #fff);
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-floppy::backdrop {
  background-color: var(--themes-main-color, #000);
  opacity: 0.75;
}

.dialog-form {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-text {
  display: grid;
  max-width: 257px;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.dialog-button {
  display: flex;
  inline-size: 257px;
  block-size: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

.rectangle {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--background-color, #fff);
}

.header_block {
  max-width: 696px;
  flex-shrink: 0;
  color: var(--themes-main-color);
  font-family: var(--accent-font), fantasy;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 25px;
  padding-top: clamp(7.5rem, 7.14797rem + 1.502vw, 8.5rem);
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_text {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.67695rem + 0.845vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
  margin-top: 25px;
}

.header__theme-menu {
  max-width: 84px;
  margin: 0 auto;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inline-size: 14px;
  block-size: 13px;
  top: 0;
  left: -14px;
  align-items: center;
  justify-content: center;
  animation: arrow 0.5s alternate ease-in-out infinite;
  aspect-ratio: 2/1;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  transition: opacity 0.3s ease;
  appearance: none;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  height: 1px;
  background: var(--themes-main-color);
  inline-size: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.article {
  color: var(--themes-main-color, #000);
  font-style: normal;
}

.article_title {
  align-self: stretch;
  font-variation-settings: "wght" var(--font-bold-weight);
  font-size: 18px;
  padding: 4px 10px 4px 10px;
}

.article_img {
  inline-size: 100%;
  block-size: 100%;
  max-width: 696px;
  max-height: 696px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.img-html {
  filter: grayscale(70%);
}

.img-CSS {
  filter: contrast(100%) saturate(500%);
}

.img-desigions {
  filter: hue-rotate(0.1turn);
}

.img-care {
  filter: invert(100%);
}

.img-support {
  filter: sepia(0.9);
}

.img-experience {
  filter: saturate(300%);
}

.img-lifes-style {
  filter: blur(10px);
}

.image-container {
  position: relative;
  border-left: 2px solid var(--themes-main-color, #000);
  border-right: 2px solid var(--themes-main-color, #000);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: var(--themes-main-color, #000);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-shadow: 0 0 1px var(--background-color);
}

@supports (-webkit-text-stroke: 1px var(--background-color)) or
  (text-stroke: 1px var(--background-color)) {
  .label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.article_text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 29px 25px 25px;
  font-weight: var(--font-text);
}

.main_block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

/*По ховеру и в состоянии disabled кнопки становятся прозрачными, 
нужное значение — 0.6. Как и все анимации на сайте, 
изменение состояния должно быть плавным. 
У этих состояний переход длится 0.3s с функцией времени ease. 
Состояние disabled также должно делать кнопку неактивной для взаимодействия, 
добиться этого поможет pointer-events: none;.*/
.button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  border: 2px solid var(--themes-main-color, #000);
  overflow: hidden;
  position: relative;
  color: var(--themes-main-color);
  background-color: var(--background-color);
  appearance: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--themes-main-color);
  /*z-index: -1;*/
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  /*z-index: 1;*/
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
}

.card__icon-button {
  border: 2px solid transparent;
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: border-color 0.3s ease;
  appearance: none;
  cursor: pointer;
  border-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--themes-main-color);
}

.card__like-button {
  display: flex;
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  mix-blend-mode: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floppy {
  position: relative;
  color: var(--color-hover);
  mix-blend-mode: difference;
}

.footer-svg {
  inline-size: 28px;
  block-size: 28px;
}

.dialog-svg {
  inline-size: 39px;
  block-size: 39px;
}

.button__text {
  color: var(--color-hover);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.footer-button {
  color: var(--themes-main-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  inline-size: 335px;
  block-size: 51px;
  margin: 54px 180px 105px 181px;
}

/*при наведении на сердечко, оно закрашивается*/
.like-icon:hover .core {
  fill: var(--themes-main-color);
  transition: fill 0.3s linear;
}

.core {
  fill: var(--background-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color);
  transition: fill 0.3s linear 0.05s;
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon {
  width: 39px;
  height: 36px;
}

/*При нажатии и удержании кнопки мышки сердцевина и основное тело сердца 
закрашиваются основным цветом анимации — красным. 
Контур не перекрашивается. */
.like-icon:active .core {
  fill: var(--color-like);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-like);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-like);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-like);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-like);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--themes-main-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: is_liked_heart 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: is_liked_sparks 0.3s 0.3s ease-in 1 alternate;
}

@media (width <= 375px) {
  .header_title {
    font-size: 2.7104rem;
  }
  .footer-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 80px;
    margin: 54px 34px 102px 35px;
  }
  .label {
    right: 11px;
  }
}
