/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --themes-main-color: #00cc14;
  --background-color: #000;
  --color-hover: var(--themes-main-color);
  --bg-image: url(../images/background_dark.png);
  --bg-gradient: #000;
  --bg-gradient-start: #007f0c;
  --bg-gradient-end: #004306;
  --font-text: 465;
  --font-bold-weight: 785;
  --font-weight: 400;
  --color-like: #ff0000;
}
